template(name="mockPage")
  a(href=mock.next)
    img.mockImg(src=mock.img)

  a(href="/")#navBar

  #title {{mock.title}}

  #backButton ←


  .info
    a(href=mock.editUrl target="_new")
      #editButton edit