head
  //- this is critical for mobile and emulation to look and work properly
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(charset="utf-8")
  link(rel="shortcut icon" href="/assets/ico/favicon.png")