<template name='sidemenu'>

    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" href="#">ChatU</a>
      <ul class="nav navmenu-nav">
        {{#each sideMenuItems}}
        <li><a href="{{href}}">{{label}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ChatU</a>
    </div>

    <div class="container">
      {{>yield}}
    </div>

</template>