#carousel {
  position: absolute
  width:    100%
  left:     0%
  height:   100%
  top:      0px;
  
  .miniCard {
    width 80px
    height 60px
    border-radius 5px
    background-color #f0ee89
    border 1px solid black
  }
}


.slick-prev:before, .slick-next:before {
  color:    silver;
}