.mockButton {
  // height 80px
  border 1px solid black
  padding 20px
  margin 5px
  font-size 20px
  &:hover {
    background-color gray
  }
  .edit {
    float: right
    background-color #b67a86
  }
}

