template(name='home')
  h1 home

  h2 stories
  h3 Lost in America
  li
    a(href="/story/lost/start") Start
  li
    a(href="/story/lost/inspector") Inspector
  li
    a(href="/story/lost/lookTicket") lookTicket
