template(name='backpack')
  .widget.animated(
    id=uuid style="-webkit-animation-delay: {{delay}}s; -webkit-animation-iteration-count: {{iterations}};"
  )
    p pick an item:
    each items
      img.packitem(src=icon data-cname=cname)
