.widget {

  .chatline {
    img {
      width 60px
      box-shadow 2px 2px 2px rgb(0,0,0)
      border-radius 10px
    }
    
    .text {
      position absolute
      left 90px
      top 20px
      font-family "Mouse Memoirs"
      font-size 30px
    }

  }

}
