template(name='continue')
  .widget.animated(id=uuid)
    a(href=url).btn.btn-lg.btn-success {{text}}
      i.fa.fa-caret-square-o-right.animated.flash(style="-webkit-animation-iteration-count: infinite")
    .hint {{hint}}