.widget {
  position relative
  opacity 0.1   // initial hide
  padding-top 10px
  padding-bottom 10px
  border-bottom 1px dotted #ccc
  padding-left 10px
  padding-right 10px

  // .inset {
  //   padding-left 10px
  //   padding-right 10px
  // }

  .headline {
    font-family 'Oswald'
    font-size 3rem
    border 4px solid black
  }

  .caption {
    font-size 2rem
  }

  .wideImage {
    width 100%
  }

  .chatline {
    img {
      box-shadow 2px 2px 2px rgb(0,0,0)
    }
  }

  .thinking {
    .thought {
      font-size 2rem
      font-style bold
    }
    .afterthought {
      font-size 2rem
    }
  }

  .shouting {
    font-family 'Mouse Memoirs'
    font-size 3rem
    color: red
  }

  #inputBox {
    font-size 30px
    height 50px
    left 10px
    right 10px
    width 90%
  }

}



@media (min-width: 992px) {
  .widget {
    .wideImage {
      width 50%
    }    
  }
  // html { font-size: 120%; } 
}
