        
.flex1-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: Silver;

  .flex-item {
    background-color: DeepSkyBlue;
    width: 44px;
    // min-height: 100px;
    min-height 100px
    margin: 3px;
  }

  .item1 {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
  .item2 {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  .item3 {
    -webkit-align-self: center;
    align-self: center;
  }

  .item4 {
    -webkit-align-self: baseline;
    align-self: baseline;
  }

  .item5 {
    -webkit-align-self: baseline;
    align-self: baseline;
    padding: 2em 0;
  }

  .item6 {
    -webkit-align-self: stretch;
    align-self: stretch;
  }

}